.App {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.sum{
    padding-bottom: 6px;
}
.date{
    padding-top: 6px;
}
.remainingMoney{
    padding-bottom: 6px;
}
